In [121]:

import pandas as pd
import numpy as np
from datetime import datetime, timedelta, time

In [122]:
data = pd.read_csv('GOOGL_imbalance.csv')
print(data.head())

                               ts_recv                             ts_event  \
0  2018-05-01 09:28:00.200090236-04:00  2018-05-01 13:28:00.200079497+00:00
1  2018-05-01 09:28:05.013842739-04:00  2018-05-01 13:28:05.013831214+00:00
2  2018-05-01 09:28:10.124905504-04:00  2018-05-01 13:28:10.124894701+00:00
3  2018-05-01 09:28:15.125171169-04:00  2018-05-01 13:28:15.125160488+00:00
4  2018-05-01 09:28:20.066690415-04:00  2018-05-01 13:28:20.066679481+00:00

   rtype  publisher_id  instrument_id  ref_price  auction_time  \
0     20             2           3363    1018.48             0
1     20             2           3363    1018.29             0
2     20             2           3363    1018.35             0
3     20             2           3363    1018.11             0
4     20             2           3363    1018.16             0

   cont_book_clr_price  auct_interest_clr_price  ssr_filling_price  ...  \
0              1020.00                  1020.00                0.0  ...
1              1019.49                  1019.49                0.0  ...
2              1019.49                  1019.49                0.0  ...
3              1019.49                  1019.49                0.0  ...
4              1019.35                  1019.49                0.0  ...

   market_imbalance_qty  unpaired_qty  auction_type  side  auction_status  \
0                     0             0             O     B               0
1                     0             0             O     B               0
2                     0             0             O     B               0
3                     0             0             O     B               0
4                     0             0             O     B               0

   freeze_status  num_extensions unpaired_side significant_imbalance  symbol
0              0               0             N                     L   GOOGL
1              0               0             N                     L   GOOGL
2              0               0             N                     L   GOOGL
3              0               0             N                     L   GOOGL
4              0               0             N                     L   GOOGL

[5 rows x 25 columns]

In [123]:
data.tail(2)

,ts_recv,ts_event,rtype,publisher_id,instrument_id,ref_price,auction_time,cont_book_clr_price,auct_interest_clr_price,ssr_filling_price,...,market_imbalance_qty,unpaired_qty,auction_type,side,auction_status,freeze_status,num_extensions,unpaired_side,significant_imbalance,symbol
582315,2025-07-07 15:59:53.042470074-04:00,2025-07-07 19:59:53.042304423+00:00,20,2,7152,176.72,0,176.74,176.76,0.0,...,0,0,C,B,0,0,0,N,L,GOOGL
582316,2025-07-07 15:59:54.114351878-04:00,2025-07-07 19:59:54.114186719+00:00,20,2,7152,176.72,0,176.74,176.76,0.0,...,0,0,C,B,0,0,0,N,L,GOOGL

In [124]:
data.columns

Index(['ts_recv', 'ts_event', 'rtype', 'publisher_id', 'instrument_id',
       'ref_price', 'auction_time', 'cont_book_clr_price',
       'auct_interest_clr_price', 'ssr_filling_price', 'ind_match_price',
       'upper_collar', 'lower_collar', 'paired_qty', 'total_imbalance_qty',
       'market_imbalance_qty', 'unpaired_qty', 'auction_type', 'side',
       'auction_status', 'freeze_status', 'num_extensions', 'unpaired_side',
       'significant_imbalance', 'symbol'],
      dtype='object')

In [125]:
# Convert the `ts_event` column to datetime type for filtering
data['ts_event'] = pd.to_datetime(data['ts_event'])

In [126]:
# Extract rows where time is between 19:50:00 and 19:59:59 (irrespective of the date)
filtered_data = data[data['ts_event'].dt.strftime('%H:%M:%S.%f%z').between(
    '19:50:00.000000000+0000', '20:00:00.999999999+0000'
)]

In [127]:
# Find the range of dates in the `ts_event` column in data
date_range = f"Start Date: {data['ts_event'].min()}, End Date: {data['ts_event'].max()}"
print(date_range)

Start Date: 2018-05-01 13:28:00.200079497+00:00, End Date: 2025-07-07 19:59:54.114186719+00:00

In [128]:
# Find the range of dates in the `ts_event` column in filtered_data
date_range = f"Start Date: {filtered_data['ts_event'].min()}, End Date: {filtered_data['ts_event'].max()}"
print(date_range)

Start Date: 2018-05-01 19:50:00.232589664+00:00, End Date: 2025-07-07 19:59:54.114186719+00:00

In [ ]:
# Extract the date, minutes (passed after 19:50), seconds, and subseconds using datetime operations
filtered_data['date'] = pd.to_datetime(filtered_data['ts_event']).dt.date
filtered_data['minutes'] = (
    pd.to_datetime(filtered_data['ts_event']).dt.hour * 60 +
    pd.to_datetime(filtered_data['ts_event']).dt.minute - 1190  # 19 * 60 + 50 = 1190
)
filtered_data['seconds'] = pd.to_datetime(filtered_data['ts_event']).dt.second
filtered_data['subseconds'] = pd.to_datetime(filtered_data['ts_event']).dt.microsecond / 1e6

In [130]:
filtered_data.head()

,ts_recv,ts_event,rtype,publisher_id,instrument_id,ref_price,auction_time,cont_book_clr_price,auct_interest_clr_price,ssr_filling_price,...,auction_status,freeze_status,num_extensions,unpaired_side,significant_imbalance,symbol,date,minutes,seconds,subseconds
20,2018-05-01 15:50:00.232608214-04:00,2018-05-01 19:50:00.232589664+00:00,20,2,3363,1037.99,0,1066.62,1087.50,0.0,...,0,0,0,N,2,GOOGL,2018-05-01,0,0,0.232589
21,2018-05-01 15:50:05.039544060-04:00,2018-05-01 19:50:05.039530238+00:00,20,2,3363,1038.86,0,1042.28,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,5,0.039530
22,2018-05-01 15:50:10.081168197-04:00,2018-05-01 19:50:10.081156561+00:00,20,2,3363,1039.11,0,1042.28,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,10,0.081156
23,2018-05-01 15:50:15.063046686-04:00,2018-05-01 19:50:15.063035041+00:00,20,2,3363,1039.11,0,1042.25,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,15,0.063035
24,2018-05-01 15:50:20.117362819-04:00,2018-05-01 19:50:20.117352268+00:00,20,2,3363,1039.00,0,1042.20,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,20,0.117352

In [11]:
len(filtered_data)

286620

In [12]:
# Create a new dataframe with unique dates from `filtered_data`
unique_dates_df = pd.DataFrame(filtered_data['date'].unique(), columns=['unique_dates'])
unique_dates_df.head()

  unique_dates
0   2018-05-01
1   2018-05-02
2   2018-05-03
3   2018-05-04
4   2018-05-07

In [13]:
len(unique_dates_df)

1191

In [14]:
unique_dates_df.min()

unique_dates    2018-05-01
dtype: object

In [15]:
unique_dates_df.max()

unique_dates    2025-07-07
dtype: object

In [16]:
df_1day = pd.read_csv('historical_daily_stockprice_GOOGL.csv')

In [17]:
df_1day.head()

   Unnamed: 0    Datetime   Open   High    Low  Close    Volume
0  2015-02-12  2015-02-12  26.99  27.42  26.85  27.30  32376000
1  2015-02-13  2015-02-13  27.37  27.63  27.33  27.56  31054000
2  2015-02-17  2015-02-17  27.56  27.65  27.16  27.25  25656000
3  2015-02-18  2015-02-18  27.19  27.38  26.98  27.13  18654000
4  2015-02-19  2015-02-19  27.12  27.34  27.04  27.32  18856000

In [104]:
df_1day.tail(5)

            index  Unnamed: 0    Open    High     Low   Close    Volume
Datetime
2025-02-03   2508  2025-02-03  200.69  203.75  200.10  201.23  13889005
2025-02-04   2509  2025-02-04  203.37  207.05  202.81  206.38  20598360
2025-02-05   2510  2025-02-05  191.08  192.75  188.03  191.33  45225142
2025-02-06   2511  2025-02-06  189.11  192.10  188.72  191.60  16542466
2025-02-07   2512  2025-02-07  190.95  191.18  183.24  185.34  29121087

In [103]:
# See how many rows have NaN values in any column of df_1day
nan_rows_count = df_1day.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in df_1day: {nan_rows_count}")

Number of rows with NaN values in df_1day: 0

In [18]:
# Ensure the `df_1day` has a datetime index and volume column
df_1day.reset_index(inplace=True)
df_1day['Datetime'] = pd.to_datetime(df_1day['Datetime'])
df_1day.set_index('Datetime', inplace=True)

# Create an empty list to store 90-day average volumes
records = []

# Iterate over each date in unique_dates
for target_date in pd.to_datetime(unique_dates_df['unique_dates']):
    # Calculate the 90-day window for the target date
    start_date = target_date - pd.Timedelta(days=90)

    # Filter the data for the 90-day range
    filtered_data = df_1day.loc[start_date:target_date]

    # Calculate the average volume for the 90-day range
    avg_volume = filtered_data['Volume'].mean()

    # Store the result as a dictionary
    records.append({
        'date': target_date,
        '90_day_avg_volume': avg_volume
    })

# Convert the list of records to a new DataFrame
df_90DAV = pd.DataFrame(records)
print(df_90DAV.head())

        date  90_day_avg_volume
0 2018-05-01       2.546559e+07
1 2018-05-02       2.547567e+07
2 2018-05-03       2.535042e+07
3 2018-05-04       2.468772e+07
4 2018-05-07       2.428591e+07

In [102]:
df_90DAV.tail(90)

           date  90_day_avg_volume
1101 2024-10-22       1.323348e+07
1102 2024-10-23       1.291758e+07
1103 2024-10-24       1.268519e+07
1104 2024-10-25       1.243832e+07
1105 2024-10-28       1.255792e+07
...         ...                ...
1186 2025-06-27                NaN
1187 2025-06-30                NaN
1188 2025-07-01                NaN
1189 2025-07-02                NaN
1190 2025-07-07                NaN

[90 rows x 2 columns]

In [105]:
# See how many rows have NaN values in any column of df_1day
nan_rows_count = df_90DAV.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in df_90DAV: {nan_rows_count}")

Number of rows with NaN values in df_90DAV: 38

In [107]:
DAV_recent = pd.read_csv('recent_DAV.csv')
DAV_recent.head()

     Datetime    Open    High     Low   Close     Volume  90_day_avg_volume
0  2024-11-11  180.00  182.09  179.99  181.97  6448125.0       9.099486e+06
1  2024-11-12  181.40  184.03  180.99  183.32  6770389.0       9.103671e+06
2  2024-11-13  182.18  182.62  180.12  180.49  7539643.0       9.121775e+06
3  2024-11-14  179.83  180.45  176.03  177.35  8424527.0       9.151068e+06
4  2024-11-15  175.66  175.88  172.74  173.89  9737403.0       9.152488e+06

dont rerun these two cells it was one time preprocessing

In [109]:

# Get the last 38 indices where df_90DAV has NaNs in '90_day_avg_volume'
last_38_indices = df_90DAV.tail(38).index

# For these indices, get corresponding dates
dates_to_fill = df_90DAV.loc[last_38_indices, 'date']

In [110]:
# Create a mapping from date -> 90_day_avg_volume from DAV_recent
mapping = DAV_recent.set_index('Datetime')['90_day_avg_volume'].to_dict()

# Replace NaNs in last 38 rows with corresponding values from DAV_recent
for idx, dt in zip(last_38_indices, dates_to_fill):
    if pd.isna(df_90DAV.at[idx, '90_day_avg_volume']):
        # Fill from mapping if available
        if dt in mapping:
            df_90DAV.at[idx, '90_day_avg_volume'] = mapping[dt]

In [112]:
df_90DAV.tail(5)

            date  90_day_avg_volume
1186  2025-06-27       1.386807e+07
1187  2025-06-30       1.405848e+07
1188  2025-07-01       1.414019e+07
1189  2025-07-02       1.414277e+07
1190  2025-07-07       1.415933e+07

Missing trading days:
[datetime.date(2022, 11, 25), datetime.date(2023, 5, 8), datetime.date(2023, 7, 3), datetime.date(2023, 11, 24), datetime.date(2024, 7, 3), datetime.date(2024, 11, 29), datetime.date(2024, 12, 24), datetime.date(2025, 7, 3)]

In [55]:
D2 = datetime(2023,5,8)
market_close = time(16,0,1)
end_datetime = datetime.combine(D2, market_close)
print(end_datetime)

2023-05-08 16:00:01

In [56]:
D2 = datetime(2023,5,8)
market_close = time(16,0,1)
end_datetime = datetime.combine(D2, market_close)
print(end_datetime)

from ib_insync import *
import pandas as pd

# Connect to TWS or IB Gateway (ensure it's running)
ib = IB()
await ib.connectAsync('127.0.0.1', 7497, clientId=13)  # use a unique clientId if needed

# Define the contract (you can change the symbol here)
contract = Stock('GOOG', 'SMART', 'USD')

# Request 30 minutes of 1-second bars ending now
bars = await ib.reqHistoricalDataAsync(
    contract,
    endDateTime=end_datetime.strftime('%Y%m%d %H:%M:%S'),                 # '' = now
    durationStr='602 S',          # 1800 seconds = 30 minutes
    barSizeSetting='1 secs',       # <-- 1-second bars
    whatToShow='TRADES',
    useRTH=False,                  # False = include pre/post market
    formatDate=1
)

# Disconnect from IBKR
ib.disconnect()

# Convert to DataFrame
new_df = util.df(bars)
print(f"✅ Retrieved {len(new_df)} 1-second bars")
display(new_df.head())

✅ Retrieved 602 1-second bars

,date,open,high,low,close,volume,average,barCount
0,2023-05-08 15:49:59-04:00,108.33,108.33,108.32,108.33,694.0,108.328,6
1,2023-05-08 15:50:00-04:00,108.34,108.39,108.33,108.36,15559.0,108.360,84
2,2023-05-08 15:50:01-04:00,108.37,108.37,108.36,108.36,981.0,108.361,8
3,2023-05-08 15:50:02-04:00,108.37,108.37,108.37,108.37,700.0,108.370,7
4,2023-05-08 15:50:03-04:00,108.38,108.39,108.38,108.39,546.0,108.385,5

In [57]:
print(new_df.tail(3))

                         date    open    high     low   close     volume  \
599 2023-05-08 15:59:58-04:00  108.21  108.22  108.21  108.22     8364.0
600 2023-05-08 15:59:59-04:00  108.22  108.23  108.22  108.23    29121.0
601 2023-05-08 16:00:00-04:00  108.24  108.24  108.20  108.24  1160895.0

     average  barCount
599  108.219        18
600  108.228        79
601  108.240        18

In [ ]:
from ib_insync import *
import pandas as pd
from datetime import datetime, timedelta, time
import pytz
import asyncio
import pandas_market_calendars as mcal

# Step 1: Connect to IBKR
ib = IB()
await ib.connectAsync('127.0.0.1', 7497, clientId=19)

# Step 2: Define timezone and trading calendar
#eastern = pytz.timezone('US/Eastern')
market_close = time(16,0,1)
start_cutoff = datetime(2022, 7, 1).date()
end_cutoff = datetime(2025, 7, 7).date()
#today = datetime.now(tz=eastern).date()

# Step 3: Get valid NYSE trading days
nyse = mcal.get_calendar('NYSE')
schedule = nyse.schedule(start_date=start_cutoff, end_date=end_cutoff)
valid_dates = list(schedule.index.date)[::-1]  # Reverse for backward loop

# Step 4: Request loop
all_data = []

contract = Stock('GOOG', 'SMART', 'USD')

for trading_day in valid_dates:
    # Compose datetime ending at 4:00 PM
    print(f"the trading_day is: {trading_day}")
    end_dt = datetime.combine(trading_day, market_close_time)
    print(f"the end_dt is: {end_dt}")
    # end_dt_eastern = eastern.localize(end_dt)
    # print(f"the end_dt_eastern is: {end_dt_eastern}")
    # print(f"the UTC is: {end_dt_eastern.astimezone(pytz.utc)}")

    try:
        print(f"⏳ Requesting {trading_day}...")
        bars = await ib.reqHistoricalDataAsync(
            contract,
            endDateTime=end_dt.strftime('%Y%m%d %H:%M:%S'),
            durationStr='602 S',               # 10 minutes = 3:50PM to 4:00PM
            barSizeSetting='1 secs',
            whatToShow='TRADES',
            useRTH=True,                       # Only regular trading hours
            formatDate=1
        )

        if bars:
            df = util.df(bars)
            #display(df.head())
            if not df.empty and df['date'].iloc[1].time() >= time(15,49,59):
                print(f"✅ {trading_day}: {len(df)} rows")
                df['date'] = pd.to_datetime(df['date']).dt.tz_localize(None)
                df['day'] = trading_day
                all_data.append(df)
            else:
                print(f"⚠️ {trading_day}: No data or market closed early")
        else:
            print(f"bars is empty for {trading_day}")
    except Exception as e:
        print(f"❌ Error on {trading_day}: {e}")

    await asyncio.sleep(11)  # Respect IBKR rate limits

# Step 5: Disconnect
ib.disconnect()

# Step 6: Combine and Save
final_df = pd.concat(all_data)
print(f"\n📊 Final dataset contains {len(final_df)} rows across {final_df['day'].nunique()} trading days")
final_df.reset_index(drop=True, inplace=True)
final_df.to_csv("GOOG_1s_3_50PM_to_4_00PM.csv", index=False)

In [ ]:
ib.disconnect()

In [ ]:
final_df.head()

Some more preprocessing TBD for 3 years of data

In [86]:
df_1sec = pd.read_csv('GOOG_1s_3_50PM_to_4_00PM_1.csv')

In [113]:
df_1sec.head()

,date,open,high,low,close,volume,average,barCount,day
0,2025-07-11 15:49:58,181.57,181.57,181.57,181.57,100.0,181.570,1,2025-07-11
1,2025-07-11 15:49:59,181.57,181.57,181.57,181.57,100.0,181.570,1,2025-07-11
2,2025-07-11 15:50:00,181.56,181.59,181.48,181.55,13846.0,181.537,129,2025-07-11
3,2025-07-11 15:50:01,181.56,181.57,181.55,181.55,1608.0,181.562,16,2025-07-11
4,2025-07-11 15:50:02,181.53,181.53,181.51,181.52,1100.0,181.524,8,2025-07-11

In [114]:
df_1sec.tail()

,date,open,high,low,close,volume,average,barCount,day
452699,2023-05-08 15:59:56-04:00,108.22,108.23,108.21,108.23,13324.0,108.217,53,2023-05-08
452700,2023-05-08 15:59:57-04:00,108.22,108.23,108.21,108.21,7259.0,108.217,35,2023-05-08
452701,2023-05-08 15:59:58-04:00,108.21,108.22,108.21,108.22,8364.0,108.219,18,2023-05-08
452702,2023-05-08 15:59:59-04:00,108.22,108.23,108.22,108.23,29121.0,108.228,79,2023-05-08
452703,2023-05-08 16:00:00-04:00,108.24,108.24,108.20,108.24,1160895.0,108.240,18,2023-05-08

In [88]:
import pandas as pd
import pandas_market_calendars as mcal

In [89]:
df_1sec['day'] = pd.to_datetime(df_1sec['day'])
df_1sec['day'] = df_1sec['day'].dt.date
data_dates = pd.Series(df_1sec['day'].unique()).sort_values()

# Get actual NYSE trading days
nyse = mcal.get_calendar('NYSE')
schedule = nyse.schedule(start_date='2022-07-01', end_date='2025-07-11')
expected_dates = schedule.index.date  # These are confirmed trading days

# Compare
missing_dates = sorted(set(expected_dates) - set(data_dates))
extra_dates = sorted(set(data_dates) - set(expected_dates))

# Output
print(f"Total expected NYSE trading days: {len(expected_dates)}")
print(f"Total unique trading days in your data: {len(data_dates)}")
print("\nMissing trading days:")
print(missing_dates)

print("\nExtra/unexpected trading days in your data:")
print(extra_dates)

Total expected NYSE trading days: 759
Total unique trading days in your data: 752

Missing trading days:
[datetime.date(2022, 11, 25), datetime.date(2023, 7, 3), datetime.date(2023, 11, 24), datetime.date(2024, 7, 3), datetime.date(2024, 11, 29), datetime.date(2024, 12, 24), datetime.date(2025, 7, 3)]

Extra/unexpected trading days in your data:
[]

In [94]:
early_close_dates = [datetime.date(2022, 11, 25), datetime.date(2023, 7, 3), datetime.date(2023, 11, 24), datetime.date(2024, 7, 3), datetime.date(2024, 11, 29), datetime.date(2024, 12, 24), datetime.date(2025, 7, 3)]

In [95]:
# Check for matching dates
matched_dates = unique_dates_df[unique_dates_df['unique_dates'].isin(early_close_dates)]

# Output result
print(f"Found {len(matched_dates)} early close dates in unique_dates_df:")
print(matched_dates)

Found 0 early close dates in unique_dates_df:
Empty DataFrame
Columns: [unique_dates]
Index: []

In [96]:
df_1sec.head()

,date,open,high,low,close,volume,average,barCount,day
0,2025-07-11 15:49:58,181.57,181.57,181.57,181.57,100.0,181.570,1,2025-07-11
1,2025-07-11 15:49:59,181.57,181.57,181.57,181.57,100.0,181.570,1,2025-07-11
2,2025-07-11 15:50:00,181.56,181.59,181.48,181.55,13846.0,181.537,129,2025-07-11
3,2025-07-11 15:50:01,181.56,181.57,181.55,181.55,1608.0,181.562,16,2025-07-11
4,2025-07-11 15:50:02,181.53,181.53,181.51,181.52,1100.0,181.524,8,2025-07-11

In [115]:
counts = df_1sec.groupby('day').size()

In [116]:
# Check if each trading day has exactly 601 seconds of data
count_600 = counts[counts == 600]
count_601 = counts[counts == 601]
count_602 = counts[counts == 602]
incorrect_counts = counts[counts != 602]
print(f"600-second : {len(count_600)}, 601-second : {len(count_601)}, 602-second : {len(count_602)}")
print(f"\n🧮 Number of days with incorrect number of rows: {len(incorrect_counts)}")
if not incorrect_counts.empty:
    print("\nDays with incorrect row count (should be 601):")
    print(incorrect_counts)

600-second : 0, 601-second : 0, 602-second : 752

🧮 Number of days with incorrect number of rows: 0

In [131]:
df_imbalance = filtered_data.copy()

In [132]:
df_imbalance.head()

,ts_recv,ts_event,rtype,publisher_id,instrument_id,ref_price,auction_time,cont_book_clr_price,auct_interest_clr_price,ssr_filling_price,...,auction_status,freeze_status,num_extensions,unpaired_side,significant_imbalance,symbol,date,minutes,seconds,subseconds
20,2018-05-01 15:50:00.232608214-04:00,2018-05-01 19:50:00.232589664+00:00,20,2,3363,1037.99,0,1066.62,1087.50,0.0,...,0,0,0,N,2,GOOGL,2018-05-01,0,0,0.232589
21,2018-05-01 15:50:05.039544060-04:00,2018-05-01 19:50:05.039530238+00:00,20,2,3363,1038.86,0,1042.28,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,5,0.039530
22,2018-05-01 15:50:10.081168197-04:00,2018-05-01 19:50:10.081156561+00:00,20,2,3363,1039.11,0,1042.28,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,10,0.081156
23,2018-05-01 15:50:15.063046686-04:00,2018-05-01 19:50:15.063035041+00:00,20,2,3363,1039.11,0,1042.25,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,15,0.063035
24,2018-05-01 15:50:20.117362819-04:00,2018-05-01 19:50:20.117352268+00:00,20,2,3363,1039.00,0,1042.20,1048.04,0.0,...,0,0,0,N,L,GOOGL,2018-05-01,0,20,0.117352

In [133]:
df_90DAV.head()

         date  90_day_avg_volume
0  2018-05-01       2.546559e+07
1  2018-05-02       2.547567e+07
2  2018-05-03       2.535042e+07
3  2018-05-04       2.468772e+07
4  2018-05-07       2.428591e+07

In [148]:
df_1sec.head()

,timestamp,open,high,low,close,volume,average,barCount,day
0,2025-07-11 15:49:58,181.57,181.57,181.57,181.57,100.0,181.570,1,2025-07-11
1,2025-07-11 15:49:59,181.57,181.57,181.57,181.57,100.0,181.570,1,2025-07-11
2,2025-07-11 15:50:00,181.56,181.59,181.48,181.55,13846.0,181.537,129,2025-07-11
3,2025-07-11 15:50:01,181.56,181.57,181.55,181.55,1608.0,181.562,16,2025-07-11
4,2025-07-11 15:50:02,181.53,181.53,181.51,181.52,1100.0,181.524,8,2025-07-11

In [142]:
df_1sec.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'average',
       'barCount', 'day'],
      dtype='object')

In [150]:
df_1sec.to_csv('df_1sec.csv', index=False)

In [143]:
import pandas as pd
import numpy as np
import math

# Ensure date column in df_90DAV is datetime.date type
df_90DAV['date'] = pd.to_datetime(df_90DAV['date']).dt.date

# Extract date from imbalance event timestamp
df_imbalance['date'] = pd.to_datetime(df_imbalance['ts_event']).dt.date

# Merge 90DAV into imbalance dataframe based on date
df_imbalance = df_imbalance.merge(  df_90DAV,
    on=['date'],
    how='left'
)

# Calculate normalized imbalance (signed)
df_imbalance['Norm_imb'] = (
    df_imbalance['total_imbalance_qty'] * df_imbalance['side'].map({'BUY': 1, 'SELL': -1})
) / df_imbalance['90_day_avg_volume']

# Prepare df_1sec for fast lookup — round imbalance timestamp up to the next second
df_imbalance['imb_sec'] = pd.to_datetime(df_imbalance['ts_event']).dt.ceil('1s')

In [151]:
df_imbalance.to_csv("df_imbalance.csv",index=False)

In [149]:
import pandas as pd
import numpy as np

# Step 1: Parse imbalance timestamp (already has timezone)
df_imbalance['ts_event'] = pd.to_datetime(df_imbalance['ts_event'], utc=True)
df_imbalance['imb_sec'] = df_imbalance['ts_event'].dt.ceil('1s')

# Step 2: Localize df_1sec to America/New_York and convert to UTC
df_1sec['timestamp'] = pd.to_datetime(df_1sec['timestamp'])  # naive to datetime
df_1sec['timestamp'] = df_1sec['timestamp'].dt.tz_localize('America/New_York').dt.tz_convert('UTC')

# Step 3: Define price move calculation
def compute_price_move(row):
    t_imb = row['imb_sec']
    t_ref = pd.Timestamp.combine(t_imb.date(), pd.Timestamp('15:49:59').time()).tz_localize('UTC')
    try:
        p_imb = df_1sec.loc[df_1sec['timestamp'] == t_imb, 'close'].iloc[0]
        p_ref = df_1sec.loc[df_1sec['timestamp'] == t_ref, 'close'].iloc[0]
        pct_move = 100 * (p_imb - p_ref) / p_ref
        return round(pct_move, 2)
    except IndexError:
        return np.nan

# Step 4: Apply
df_imbalance['%price_move'] = df_imbalance.apply(compute_price_move, axis=1)

ValueError: unconverted data remains when parsing with format "%Y-%m-%d %H:%M:%S": "-04:00", at position 452102. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Drop NaNs
df_plot = df_imbalance.dropna(subset=['Norm_imb', '%price_move'])

# Extract x and y
x = df_plot['Norm_imb']
y = df_plot['%price_move']

# Fit a straight line: y = m*x + b
m, b = np.polyfit(x, y, 1)

# Plot scatter and best fit line
plt.figure(figsize=(10, 6))
plt.scatter(x, y, alpha=0.6, label='Data')
plt.plot(x, m*x + b, color='black', label=f'Best Fit: y = {m:.2f}x + {b:.2f}')
plt.axhline(0, color='gray', linestyle='--', linewidth=1)
plt.xlabel('Normalized Imbalance (Signed)')
plt.ylabel('% Price Move (vs 3:49:59)')
plt.title('% Price Move vs Normalized Imbalance')
plt.legend()
plt.tight_layout()
plt.show()